#wrapper {
	padding: var(--padding);
	display: inline-flex;
	align-items: center;
	height: 100vh;
	background: linear-gradient(0deg, rgb(11, 0, 61) 0%, rgb(49, 0, 44) 100%);
	min-width: 100vw;
}

main {
	height: var(--maxHeightVH);
	max-height: var(--maxHeight);
	background-color: white;
	box-shadow: 0 2rem 4rem 0.25rem rgba(0, 0, 0, 0.5);
	display: flex;
}

.width-one {
	width: var(--oneWidth);
	max-width: var(--oneWidthMax);
}

.width-three-quarters {
	width: calc( var(--oneWidth) * 0.75 );
	max-width: calc( var(--oneWidthMax) * 0.75 );
}

.width-half {
	width: calc( var(--oneWidth) / 2 );
	max-width: calc( var(--oneWidthMax) / 2 );
}

.width-quarter {
	width: calc( var(--oneWidth) / 4 );
	max-width: calc( var(--oneWidthMax) / 4 );
}

.width-third {
	width: calc( var(--oneWidth) / 3 );
	max-width: calc( var(--oneWidthMax) / 3 );
}

#gallery {
	display: inline-flex;
}

#gallery-content {
	display: grid;
	grid-template-rows: 50% 50%;
	grid-auto-flow: column;
}

@media only screen and (max-width: 740px) {
  
	  #wrapper {
			padding: 0;
			display: block;
			background-color: black;
			height: unset;
		}
	
	  main {
		  max-height: unset;
		  height: unset;
		  display: unset;
	  }
	 
	section {
		max-width: unset !important;
		 width: 100% !important;
	}
	
	#gallery, #gallery-content {
		display: unset;
	}
}
